//variables de breakpoints
$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;

//variables de fuentes
$primary-font:Plus Jakarta Sans;

//variables de color
$blue: #666CA3;
$black: #13183F;
$grey: #83869A;
$pink: #F74780;
$pink-light: #FFA7C3;
$white: #FFFFFF;
$magenta: #FF6F48;
$blue-dark: #4851FF;
$gradient-pink-blue:linear-gradient(to bottom, #FF6F48 0%, #F02AA6 100%);
$gradient-blue-pink:linear-gradient(to bottom, #4851FF 0%, #F02AA6 100%);;