.header-principal{
    padding-top: 30px;
    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        img{
            width: 90px;
        }
        .nav-principal{
            ul{
                @include reset-list;
                .button-header{
                    @include button;
                    @include breakpoint(desktop){
                        &:hover{
                            background-color: $blue;
                        }
                    }
                }
            }
        }
    }
}

