.hero{
    padding-top: 38px;
    @include breakpoint(tablet){
        padding-bottom: 90px;
    }
    @include breakpoint(desktop){
        height: 600px
    }
    &__title{
        font-size: 45px;
        color: $black;
        font-weight: bold;
        margin-bottom: 30px;
        line-height: 51px;
        @include breakpoint (tablet){
            max-width: 50%;
        }
    }
    &__subtitle{
        font-size: 16px;
        font-weight: 500;
        color: $grey;
        line-height: 26px;
        width: 80%;
        margin-bottom: 30px;
        @include breakpoint (tablet){
            max-width: 50%;
        }
    }
    &__button{
        margin-bottom: 40px;
        ul{
            @include reset-list;
            a{
                @include button;
                background-image: $gradient-pink-blue;
                @include breakpoint(desktop){
                    &:hover{
                        background-image:$gradient-green-lime;
                    }
                }
            }
        }
    }
    &__image{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        .hero-mobile{
            width: 80%;
            @include breakpoint(tablet){
                display: none;
            }
        }
    }
    &__number-1{
    display: flex;
    flex-direction: column;
    padding: 16px 20px;
    background-color: #FCFCFF;
    border-radius: 10px;
    position: absolute;
    top:10%;
    right: 8%;
    box-shadow:100px 50px 100px $grey;
    @include breakpoint (tablet){
        top: -300px;
        right: 0px;
    }
    @include breakpoint (tablethorizontal){
        top: -250px;
        right: 50px;
    }
    @include breakpoint (desktop){
        top: -200px;
        right: 0px;
        padding: 16px 40px 16px 20px;
    }
    .title{
        font-size: 14px;
        font-weight: bold;
        color: $grey;
        }
    .number{
        font-size: 32px;
        font-weight: bold;
        color: $black;
        }        
    }
    &__number-2{
        display: flex;
        flex-direction: column;
        padding: 16px 45px 16px 20px;
        background-color: #FCFCFF;
        border-radius: 10px;
        position: absolute;
        bottom:0%;
        left: 7%;
        box-shadow: -8px 50px 100px silver;
        @include breakpoint (tablet){
            bottom: -90px;
            left: 420px;
        }
        @include breakpoint(tablethorizontal){
            bottom: -80px;
            left: 580px;
        }
        @include breakpoint (desktop){
            bottom: -110px;
            left: 520px;
        }
        .title{
            font-size: 14px;
            font-weight: bold;
            color: $grey;
            }
        .number{
            font-size: 32px;
            font-weight: bold;
            color: $black;
            }        
        }
}